@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   display: flex;
   justify-content: center;
   background-image: linear-gradient(
    115deg,
    rgba(58, 58, 158, 0.8),
    rgba(136, 136, 206, 0.7)), url(./survey-form-background.jpeg);;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    color: white;
    font-family: sans-serif;
    font-size: 16px;

}
